body{
    background-color: rgb(253, 231, 204);
}

.footerlist{
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.footer{
    background-color:rgb(252, 220, 182);

}